.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        luck
      .top-items__icons
        =link_to new_group_path(@group), class: "top-items" do
          = icon('fa', 'edit', class: "top-items-left")
          = icon('fa', 'cog', class: "top-items-right")
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .side-bar__group-list__name
            = group.name
          .side-bar__group-list__message
            メッセージはまだありません。